[submodule "pack/start/YouCompleteMe"]
	path = pack/jof/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "pack/start/ctrlp.vim"]
	path = pack/jof/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/start/vim-fswitch"]
	path = pack/jof/start/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "pack/start/editorconfig-vim"]
	path = pack/jof/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/jof/start/fugitive"]
	path = pack/jof/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "pack/jof/opt/solarized8"]
	path = pack/jof/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/jof/start/vim-airline"]
	path = pack/jof/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/jof/opt/vim-airline-themes"]
	path = pack/jof/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/jof/start/black"]
	path = pack/jof/start/black
	url = https://github.com/psf/black.git
[submodule "pack/jof/start/vim-conflicted"]
	path = pack/jof/start/vim-conflicted
	url = https://github.com/christoomey/vim-conflicted.git
[submodule "pack/jof/start/ultisnips"]
	path = pack/jof/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
